.form-dos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .form-dos input {
    outline: none;
    padding: 0px 15px;
    font-size: 0.9rem;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: black solid 2px;
    color: #222;
  }
  
  .btn-dos {
    width: 40px;
    height: 33px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: black solid 2px;
    background-color: #222;
    cursor: pointer;
  }
  
  .icon-btn-2 {
    margin-top: 4px;
    color: grey;
  }
  
  .search-size {
    width: 30%;
  }
  
  @media screen and (max-width: 1020px) {
    .form-dos input {
      font-size: 0.8rem;
    }
  
    .btn-dos {
      height: 30px;
    }
  
    .icon-btn-2 {
      margin-top: 2px;
    }
  }
  