.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: relative;
}

.hero-img::after {
  content: "";
  background: url("https://d3ugyf2ht6aenh.cloudfront.net/stores/762/055/themes/idea/1-slide-1666904077414-8211924514-d0379a2706ce5b98f8aef71b200b73c11666904086-1920-1920.webp?1580199071");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*{.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
  }}*/

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.hero-img .content h1 {
  font-size: 50px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1em;
}

.input-inicio {
  background-color: transparent;
  padding: 7px 10px;
  border: none;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: white;
  font-weight: 700;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  border: solid black 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #333;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .hero-img .content h1 {
    font-size: 3rem;
  }

  .hero-img::after {
    content: "";
    background: url("file:///home/micaela/1-slide-1666904077418-5971240246-a664c1eda373a824410ab98a6db289e61666904087-1400-1400-1.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .hero-img .content h1 {
    font-size: 35px;
    text-align: center;
  }

  .form {
    top: 170%;
  }

  .form input {
    outline: none;
  }

  .input-inicio {
    padding: 5px 10px;
  }

  .btn {
    padding: 5px;
  }
}
